
  {{#if jogo}}
<h1>Atualizar jogo</h1>
 <form action="/jogos/{{jogo.id}}/update" method="post">
{{else}}
    <h1>Cadastro de Jogo</h1>
  <form action="/cadastrarJogo" method="POST">
 {{/if}}
    <div>
      <label for="titulo">Título:</label>
      <input type="text" id="titulo" name="titulo" required><br>
    </div>  
    <div>
      <label for="descricao">Descrição:</label>
      <input type="text" id="descricao" name="descricao" required><br>
    </div>
    <div>
      <label for="precoBase">Preço Base:</label>
      <input type="number"  id="precoBase" name="precoBase" required><br>
    </div>
{{#if jogo}}
    <input type="submit" value="Salvar"/>
 {{else}}
    <input type="submit" value="Cadastrar"/>
{{/if}}
  </form>
